<!doctype html>
<html class="no-js" lang="">

<head>
    {% extends 'Base.html' %}
    {% load staticfiles %}
</head>
{% block Body %}
    <form action = "{% url 'upload' %}"method="post" enctype="multipart/form-data">
{% csrf_token %}
<div id="autoBody">
	<div class="Step">
		<div class="StepTitle">
			<h1>Step 1</h1>
		</div>
		<div id="Step1Content">
			<h2>Name</h2>
			<input class="inputText" type="text" name="FirstName">
			<h2>Surname</h2>
			<input class="inputText" type="text" name="LastName">
			<h2>Email</h2>
			<input class="inputText" id="emailInput" type="email" name="Email">
			<button type="button" class = "ContButtong" style="border-style:none;" onclick="document.getElementById('Step2').scrollIntoView();">Continue</button>
		</div>
	</div>
	<div class="Step" id="Step2">
		<div class="StepTitle">
			<h1>Step 2</h1>
		</div>
		<div id="Step2Content">
			<div id="inputs">
			<div class="inputBox">
                <p>Tumor Files</p>
				<input type = "file" class="inputFile" multiple name="TumorFile"/>
			</div>
			<div class="inputBox">
                <p>Normal Files</p>
				<input type = "file" class="inputFile" multiple name="NormalFile"/>
			</div>
			<div class="inputBox">
                <p>Panel OF Normals</p>
				<input type = "file" name="PanelOfNormals" multiple class="inputFile"/>
			</div>
			</div>
			<button type="button" class = "ContButtong" style="border-style:none;" onclick="document.getElementById('Step3').scrollIntoView();">Continue</button>
		</div>
	</div>
	<div class="Step">
		<div class="StepTitle">
			<h1>Step 3</h1>
		</div>
		<div id="Step3Content">
			<h2>Now we wait</h2>
			<img src="{% static 'img/hourglass.png'%}">
			<p>You will receive an email with the results as soon as we finish processing the files you have sent, thank you for your patience.</p>
		</div>
        <button type="submit">Finish</button>
	</div>
</div>
    </form>


{% endblock %}

</html>
