<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'Base.html' %}
    {% load staticfiles %}
</head>
{% block Body %}
    <div id="subBody">
        <div id="ImageAndButton">
            <img id="imageinpage" src={% static 'img/labpic2.jpg' %}>
            <div id="blackContainer">
                <div id="BlackBox"></div>
                <p id="tooltitle"> DNA Sequencing </p>
                <p id="toolinfo"> You may have heard of genomes being sequenced. For instance, the human genome was
                    completed in 2003, after a many-year, international effort. But what does it mean to sequence a
                    genome,
                    or even a small fragment of DNA? </p>

                <a href = '/Tool/' id="btn"><button>Sequence Dna</button></a>
            </div>

        </div>


        <div id="mainArticle">
            <h2>What is Dna Sequencing?</h2>
            <p>You may have heard of genomes being sequenced. For instance, the human genome was completed in 2003,
                after a
                many-year, international effort. But what does it mean to sequence a genome, or even a small fragment of
                DNA?</p>
            <p>DNA sequencing is the process of determining the sequence of nucleotide bases (As, Ts, Cs, and Gs) in a
                piece
                of DNA. Today, with the right equipment and materials, sequencing a short piece of DNA is relatively
                straightforward.</p>
            <p>Sequencing an entire genome (all of an organism’s DNA) remains a complex task. It requires breaking the
                DNA
                of the genome into many smaller pieces, sequencing the pieces, and assembling the sequences into a
                single
                long "consensus." However, thanks to new methods that have been developed over the past two decades,
                genome
                sequencing is now much faster and less expensive than it was during the Human Genome Project.</p>
            <p>In this article, we’ll take a look at methods used for DNA sequencing. We'll focus on one
                well-established
                method, Sanger sequencing, but we'll also discuss new ("next-generation") methods that have reduced the
                cost
                and accelerated the speed of large-scale sequencing.</p>
        </div>
    </div>
{% endblock %}
</html>