<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tool Selection</title>
    {% extends 'Base.html'%}
    {% load staticfiles %}
</head>
<body>
{% block Body %}
    <div id="bodyContent">
        <img id="dnaPic" src={% static 'gifs/dna_gif.gif'%}>
        <div id="shader"></div>
        <div id="twoOptions">
            <div id="leftOpt">
                <a href="/Tool/Automatic/">Basic</a>
            </div>
            <div id="splitBar"></div>
            <div id="rightOpt">
                <a>Custom</a>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>